*{
    background:black
}
header{
    padding-bottom: 5px;
}
.header-title {
    color:  gold;
    font-size: 47px;
    text-align: center; 
}
.header-container{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.header-subtitle{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}
.header-subtitle-2 {
    margin: 0 50px 0 50px;
}
.divisor{
    height: 0,5px !important;
    background-color: rgba(204, 204, 204, 0.116) !important;
}
.logo { 
    width: 520px;
    margin: 0 auto;
    display: block;
}
.links{
    color:aqua;
}
hr{
    height: 3px;
    background-color: gold;
    border: none;
}
.produto{
    background: black;
    color: white;
    display:inline;
    text-align: center;    
}
#container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap
}
.produto-img {
    max-width: 100%;
    width: 400px;
    height: 400px;
}

.page-title {
    color: white;
    text-align: center;
}