*   {
    background:rgb(0, 0, 0)
}   
header{
    padding-bottom: 5px;
}
.header-title a {
    color:  rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    display: block; 
    text-decoration: none;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    justify-items: center;
    justify-content: center;
}
.header-subtitle{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}
.header-subtitle-2 {
    margin: 0 50px;
}
.divisor{
    height: 0,5px !important;
    background-color: rgba(204, 204, 204, 0.116) !important;
}
#title{
    
    display: flex;
    justify-content: left;
}
#img-logo{
    display: flex;
    justify-content: center;
}
.logo { 
    max-width: 100%;
    width: 600px;
    display: block;
}
@media (max-width: 768px){
    .header-subtitle{
        display: flex;
        flex-direction: column;
    }
    .header-container{
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}
/*Botoes*/
.links:hover{
    border: 1px solid gold;
    border-color: gold;
    padding: 1px;
    border-radius: 6px;
}
.links{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    
}

hr{
    height: 3px;
    background-color: gold;
    border: none;
}

.produto{
    color: white;
    display:inline;
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.produto:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
}

.produto h2{
    position: absolute;
    z-index: 10;
    margin-top: -45px;
    margin-left: 10px;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
}

.produto-img {
    max-width: 100%;
    width: 420px;
    height: 420px;
    border: 1px solid #939393;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap
}

.page-title {
    color: white;
    text-align: center;
}

.footer-text{
    text-align: center;
}
.footer-text a, .footer-text span{
    text-decoration: none;
    color: #939393;
    font-size: 15px;
}
.footer-text a:hover {
    text-decoration: underline;
}
.divulgacao {
    text-align: left;
    display: block;
    color: #9393933b;
    font-size: 12px;
}
.divulgacao a{
    text-decoration: none;
    color: #9393933b;
}
.divulgacao a:hover{
    text-decoration: underline;
    color: #9393937e;
}